.account {
  padding-left: 37%;
  color: #31a4e1ff;
  background-color: aliceblue
}

.button{
  text-decoration: none;
  color: #000000;
  font-family: courier;
}

.chat {
  position: fixed;
  top: 0;
  right:0;
}

*{
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

article {
  margin-left: 2%;
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column {
    height: 1200px;
    width: 100%;
    text-align: center;
    border-left: 2px solid #31a4e1ff;
    border-right: 2px solid #31a4e1ff;
    border-top: 5px solid #31a4e1ff;
}
.meme {
    border-top: 5px solid #31a4e1ff;
    border-bottom: 5px solid #31a4e1ff;
    border-left: 2px solid #31a4e1ff;
    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    float: center;
    margin-right: 2px;
    margin-bottom: 5%;
    text-align: left;
    line-height: 50px;
    font-size: 25px;
}
article {
  margin-left: 2%;
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column {
  height: 1200px;
  width: 100%;
  text-align: center;
  border-left: 2px solid #31a4e1ff;
  border-right: 2px solid #31a4e1ff;
  border-top: 5px solid #31a4e1ff;
}
.article {
  border-top: 5px solid #31a4e1ff;
  border-bottom: 5px solid #31a4e1ff;
  border-left: 2px solid #31a4e1ff;
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 100%;
  float: center;
  margin-right: 2px;
  margin-bottom: 5%;
  text-align: left;
  line-height: 50px;
  font-size: 25px;
}
#allstuff {
  background-color: aliceblue;
  margin-top: 2%;
  margin-left: 6.25%;
  width: 75%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  align-items: center;
}
#title {
  border: 2px solid #36baff;
  resize: none;
  width: 40%;
  text-align: center;
  height: 50px;
  font-size: 24px;
}
#text {
  border: 2px solid #36baff;
  width: 55%;
  align-self: center;
  resize: none;
  font-size: 16px;
}
#tags {
  border: 2px solid #36baff;
  align-self: left;
  width: 49%;
  height: 35px;
  font-size: 15px;
}
#allstuff > button {
  width: 25%;
  height: 45px;
  font-size: 25px;
  color: rgb(228, 220, 220);
  align-content: center;
  background-color: #00a7ff;
}
.uploadContainer, .uploadContainer input {
  height: 47px;
  width: 263px;
}
.uploadContainer {
  background: transparent url(../../../images/uploadmeme.png);
}
.uploadContainer input {
  opacity: 0;
}