.account {
  padding-left: 37%;
  color: #31a4e1ff;
  background-color: aliceblue
}

.button{
  text-decoration: none;
  color: #000000;
  font-family: courier;
}

.chat {
  position: fixed;
  top: 0;
  right:0;
}

*{
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}
.active {
  background-color: #717171;
}
.article {
  border-top: 5px solid #31a4e1ff;
  border-bottom: 5px solid #31a4e1ff;
  border-left: 2px solid #31a4e1ff;
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 100%;
  float: center;
  margin-right: 2px;
  margin-bottom: 5%;
  text-align: left;
  line-height: 50px;
  font-size: 25px;
}
.viewmeme {
  background-color: aliceblue;
  margin-top: 2%;
  margin-left: 6.25%;
  width: 75%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
}
#title {
  color: #36baff;
  resize: none;
  width: 88%;
  text-align: center;
  height: 50px;
  font-size: 24px;
}
#back {
  justify-content: left;
  background-color:aliceblue;
  border: 1px solid #dae7ee;
  border-radius: 3px;
}
#back:hover {
  background-color: rgb(157, 206, 250);
}
.meme {
  width: 49%;
  align-self: center;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
}
#description {
  resize: none;
  width: 89%;
  background-color: aliceblue;
  align-self: center;
  text-align: left;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
}