#navigate {
    float: left;
    position: absolute;
    z-index: 1;
    height: 1200px;
    width: 18%;
}
#contents {
    text-align: center; 
    background-color: #31a4e1ff; 
    color: White; 
    line-height: 170%;
    height: 3%;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#pages {
    border-top: 3px solid #31a4e1ff;
    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    float: right;
    margin-top: 0px;
    margin-right: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}
#page {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.flex-container {
    display: flex;
    align-items: stretch;
    margin-left: 19%;
    margin-right: 18%;
    margin-bottom: 1%;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.flex-container>div {
    background-color: #31a4e1ff;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 15px;
    border-radius: 14px;
}
.otherelems {
    background-color: #31a4e1ff;
    width: 100%;
    margin-top: 10px;
    border-radius: 14px;
    flex-grow: 2;
    flex-direction: column;
}
.flex-container>.blank {
    background-color: white;
}