nav{
  display: flex;
  flex-direction: row;
}

.logolight{
  width: 250px;
  height: 100px;
}

.navelement{
  color: gray;
  background-color: white;
  padding: 50%;
  text-decoration: none;
}

.menuLink{
  color: #060606;
  margin:1%;
  font-size: 70%;
  padding:1%;
  background-color: black;
  border-radius: 10%;
}

.dropdown .dropbtn {
  font-size: 16px;
  float: left;
  overflow: hidden;
  border: none;
  outline: none;
  color: #484747;
  padding: 14px 16px;
  background-color: white;
  font-family: sans-serif;
  margin: 0;
  background-color: 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #dedede;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #dedede;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #484747;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #c7c7c7;
}

.dropdown:hover .dropdown-content {
  display: block;
}
