.account {
  padding-left: 37%;
  color: #31a4e1ff;
  background-color: aliceblue
}

.button{
  text-decoration: none;
  color: #000000;
  font-family: courier;
}

.chat {
  position: fixed;
  top: 0;
  right:0;
}

*{
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
article {
  margin-left: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column {
  height: 1200px;
  width: 100%;
  text-align: center;
  border-left: 2px solid #31a4e1ff;
  border-right: 2px solid #31a4e1ff;
  border-top: 5px solid #31a4e1ff;
}