.button{
  text-decoration: none;
  color: #000000;
  font-family: courier;
}
.chat {
  position: fixed;
  top: 0;
  right:0;
}
*{
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px};
}
#text {
  width: 88%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}